$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span { 
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #fa3597;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        border-radius: 10px;
        color: rgb(255, 255, 255);

        &:hover, &.active {
          background: #409ef5;
        }
      }
    }
  }
}
