#history {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
  color: #ca4949;
  opacity: 0.8;

  h2 {
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }

  button {
    margin-bottom: 0.25vw;
    background-color: #264653;
    color: #fffb00;
    border-radius: 15px;
    &:hover,
    &.active {
      background: #73803b;
    }
  }
}
